include ./pug/mixins

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='./main.css')
  body
    .tour-list-container
      .tour-list
        +tourItem('./images/image1.png', '40$', 'Thailands Ayutthaya Temples Cruise from Bangkok', 4.8, 12, "9 hours", 61)
        +tourItem('./images/image2.png', '70$', 'FLoating Markets Day Trip from Bangkok', 4.5, 15, "7 hours", 55)
        +tourItem('./images/image3.png', '60$', 'Bangkok Dinner Cruise on the Chao Phraya River', 4.7, 10, "5 hours", 100)

    